/*{Maak hier jouw CSS!*/
/*de kleuren zijn geïmproviseerd*/
body{
    color: white;
    background-color: #eaccad;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c0505;
    border: 5px groove hsl(0, 92%, 10%);
    padding: 10px;
    /*
    margin: 16px;
    */
}

/*.container-box{*/
/*    display: flex;*/
/*    justify-content: stretch;*/
/*    align-items: stretch;*/
/*}*/

.container {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: 50px 400px 50px 50px 50px 50px 50px;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "."
    "f"
}
.item-a{
    grid-area: a;
}
.item-b{
    grid-area: b;
}
.item-c{
    grid-area: c;
}
.item-d{
    grid-area: d;
}
.item-e{
    grid-area: e;
}
.item-f{
    grid-area: f;
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 50px 190px 100px 125px 50px;
        grid-gap: 16px;
        grid-template-areas:
        " a c c "
        " b c c "
        " b e d "
        " b e . "
        " f f f ";
    }
}